.feynman {
  box-sizing: border-box;
  width: 100%;
  padding-top: 100px;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  align-items: center;
  background-image: url('../../images/feynman.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}
